<div *ngIf="song !== null">
  <h1>{{ song.name }}</h1>
  <iframe height=550 width=1000 [src]="getLink()" *ngIf="autoplay" allow="autoplay"></iframe>
  <iframe height=550 width=1000 [src]="getLink()" *ngIf="!autoplay"></iframe>
  <h2>{{ 'label.album' | translate }}: {{ song.album.name }}</h2>

  <div class="selection">
    <h3>{{ 'label.lyrics' | translate }}:</h3>

    <select name="lang" [(ngModel)]="selectedOption" (ngModelChange)="onChange($event)" *ngIf="song.lyrics !== null">
      <option *ngFor="let tlc of getTranslatedLyricsCodes()" value={{tlc}}>
        {{ 'lang.' + tlc | translate }}
      </option>
    </select>
  </div>

  <div class="lyrics">
    <!-- The original lyrics -->
    <app-lyrics [ngClass]="alone ? 'center' : 'left'" [lyrics]="getOriginalLyrics()" *ngIf="song.lyrics !== null"></app-lyrics>
    <!-- The translated lyrics -->
    <app-lyrics class='right' [lyrics]="getSelectedTranslatedLyrics()"*ngIf="!alone && song.lyrics !== null"></app-lyrics>
    <span class="clear"></span>
  </div>
</div>
