h1, h2, .selection {
  margin-left: 40%;
}

iframe {
  padding-top: 5%;
  margin-left: 15%;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.left {
  float: left;
  margin-left: 15%;
}

.right {
  float: right;
  margin-right: 25%;
  right: 0px;
  padding: 10px;
}

.lyrics {
  overflow: hidden;
}

.clear {
  clear: left;
}
