h1, h2{
  margin-left: 40%;
}

iframe{
  padding-top: 5%;
  margin-left: 15%;

}

.lyrics{
  margin-top: 5%;
  margin-left: 10%;
}

.lyrics .seul{
  position: relative;
  left: 15%;
}

.lyrics h2{
  margin-top: 5%;
}

h3{
  margin-left: 35%;
}

.lyricsclair .langue{
  text-decoration: underline,solid;
  color: black;
}

.lyricsclair .languecomp{
  text-decoration: underline,solid;
  color: black;
}

.lyricssombre .langue{
  text-decoration: underline,solid;
  color: white;
}


.lyricssombre .languecomp{
  text-decoration: underline,solid;
  color: white;
}

.invisible{
  display:none;
}

table{
  width:100%;
}

.titrelangue{
  position: relative;
  left: 30%;
}
