.container-bright {
  align-items: center;
  background: linear-gradient(to right, rgb(238, 255, 0),rgb(3, 215, 252));
  border-radius: 10px;
  width:50%;
  margin-left: 30%;
  margin-top: 5%;
}

.container-dark {
  align-items: center;
  background: linear-gradient(to right, rgb(78, 1, 1),rgb(4, 30, 71));
  border-radius: 10px;
  width:50%;
  margin-left:30%;
  margin-top: 5%;
}

.albums-bright {
  margin-left: 10%;
  width: 80%;
  border-collapse: separate;
  border-spacing: 1em;
}

.albums-dark {
  margin-left: 10%;
  width: 80%;
  border-collapse: separate;
  border-spacing: 1em;
}

.cover {
  max-height: 5em;
}

.link-bright {
  color:black;
}

.link-dark {
  color:white;
}
