<div class="container-{{ getTheme() }}" *ngFor="let album of albums">
  <table class="albums-{{ getTheme() }}">
    <tbody>
      <tr>
        <img src="{{ album.cover }}" class="cover" />
        <td>
          <a class="link-{{ getTheme() }}" [routerLink]="['/album', album.uuid]">{{ album.name }}</a>
        </td>
        <td>
          <a>{{ album.releaseDate | date: 'dd/MM/yyyy' }}</a>
        </td>
        <td>
          <span>{{ album.recordingCountry | translate }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{ album.genre | translate }}</span>
        </td>
        <td>
          <span>{{ album.type | translate }}</span>
        </td>
        <td>
          <a class="link-{{ getTheme() }} "*ngFor="let song of album.songs" [routerLink]="['/song', song.uuid]">{{ song.name }}<br /></a>
        </td>
        <td>
          <a class="link-{{ getTheme() }}" [routerLink]="['/band', album.band.uuid]">{{ album.band.name }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
