.container-bright {
  align-items: center;
  background: linear-gradient(to right, rgb(238, 255, 0),rgb(3, 215, 252));
  border-radius: 10px;
  width:35%;
  margin-left: 35%;
}

.container-dark {
  align-items: center;
  background: linear-gradient(to right, rgb(78, 1, 1),rgb(4, 30, 71));
  border-radius: 10px;
  width:35%;
  margin-left:35%;
}

.button-bright {
  background-color: rgb(238, 255, 0);
}

.button-dark {
  background-color:rgb(78, 1, 1);
}

.smallLogo {
  height: 3em;
  border-radius: 50%;
  margin-left: 1em;
}

.bands-bright {
  margin-top: 5%;
  margin-bottom: 2%;
}

.bands-dark {
  margin-top: 5%;
  margin-bottom: 2%;
}

.bands-bright a, .bands-dark a {
  padding-left: 5%;
}

.albums-bright {
  margin-left: 10%;
  max-width: fit-content;
  border-collapse: separate;
  border-spacing: 1em;
}

.albums-dark {
  margin-left: 10%;
  max-width: fit-content;
  border-collapse: separate;
  border-spacing: 1em;
}

.cover {
  max-height: 5em;
}

.link-bright {
  color:black;
}

.link-dark {
  color:white;
}
