<div class="container-{{ getTheme() }}" *ngFor="let band of bands" >
  <div class="bands-{{ getTheme() }}">
    <img src="{{ band.smallLogo }}" class="smallLogo">
    <a class="link-{{ getTheme() }}" [routerLink]="['/band', band.uuid]">{{ band.name }}</a>
    <a>{{ band.originCountry | translate }} </a>
    <span class="{{ 'flag-icon flag-icon-' + codes[band.originCountry] }}"></span>
  </div>

  <button class="button-{{ getTheme() }}" *ngIf="band.albums.length > 1" (click)="onClick(band)" width="20" height="25">
    <img *ngIf="!band.all" src="https://image.freepik.com/icones-gratuites/fleche-vers-bas-epais_318-8335.jpg" width="15" height="20" />
    <img *ngIf="band.all" src="https://image.freepik.com/icones-gratuites/fleche-vers-haut-epaisseur_318-8345.jpg" width="15" height="20" />
  </button>

  <table class="albums-{{ getTheme() }}" *ngIf="!band.all">
    <tbody>
      <tr>
        <img src="{{ band.albums[0]?.cover }}" class="cover">
        <td>
          <a class="link-{{ getTheme() }}" [routerLink]="['/album', band.albums[0]?.uuid]">{{ band.albums[0]?.name }}</a>
        </td>
        <td>
          <a>{{ 'label.release_date' | translate }}: <br>{{ band.albums[0]?.releaseDate | date: 'dd/MM/yyyy' }}</a>
        </td>
        </tr>
    </tbody>
  </table>

  <div *ngIf="band.all">
    <table class="albums-{{ getTheme() }}" *ngFor="let album of band.albums">
      <tbody>
        <tr>
          <img src="{{ album.cover }}" class="cover">
          <td>
            <a class="link-{{ getTheme() }}" [routerLink]="['/album', album.uuid]">{{ album.name }}</a>
          </td>
          <td>
            <a>{{ album.releaseDate | date: 'dd/MM/yyyy' }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
