@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@media (max-width: 1300px) {
    .bodyclair{
        background-size: max-content;
        background: linear-gradient(to left,rgb(4, 226, 255),white,rgb(4, 226, 255));
        background-attachment: fixed;
    }

    .bodysombre{
        background-size: max-content;
        background: linear-gradient(to left, rgb(2, 29, 184), black,rgb(167, 3, 25));
        color:white;    
    }
}

@media (min-width: 1300px){
    .bodyclair{
        background-image: url("https://storage.pixteller.com/designs/designs-images/2019-03-27/05/love-and-passion-background-backgrounds-romantic-1-5c9b9945866ba.png") ;
        background-size: 100%;
        background-color:white;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .bodysombre{
        background-image: url("https://image.freepik.com/free-vector/futuristic-background-design_23-2148503793.jpg") ;
        background-repeat: repeat-y;
        background-size: 100%;
        background-color: rgb(8, 1, 39);
        color:white;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
}

    body{
        padding: 5px;
        height:fit-content;
        width:max-content;
        min-height: 100%;
        min-width: 100%;
    }


    nav{
        background-color: rgb(3, 98, 252);
        overflow: hidden;
    }

    a{
        margin-left: 10px;
    }

    input{
        margin-right: 10px;
    }

    nav .droite {
        max-width: fit-content;
        float: right;
    }

