/* You can add global styles to this file, and also import other style files */

@import '../node_modules/flag-icon-css/css/flag-icon.min.css';


tr{
    text-align: center;
}


td img{
    max-width: 15%;    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
