.containerbright {
  align-items: center;
  background: linear-gradient(to right, rgb(238, 255, 0),rgb(3, 215, 252));
  border-radius: 10px;
  width:55%;
  margin-left: 30%;
  margin-top: 5%;
}

.containerdark {
  align-items: center;
  background: linear-gradient(to right, rgb(78, 1, 1),rgb(4, 30, 71));
  border-radius: 10px;
  width:55%;
  margin-left:30%;
  margin-top: 5%;
}

.songsbright {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 1em;
}

.songsdark {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 1em;
}

.cover {
  max-height: 5em;
}

.link {
  color:rgb(185, 92, 5);
}

.rating a:hover ~ a,
.rating a:focus ~ a,
.rating a:active ~ a,
.rating .yellow {
  color: orange;
}

.rating a {
  float: right;
}

.rating {
  float: left;
}

.note {
  float: left;
}
