<div class="container-{{ getTheme() }}" *ngIf="band !== null">
  <div class="bands-{{ getTheme() }}">
    <img src="{{ band.smallLogo }}" class="smallLogo">
    <a>{{ band.name }}</a>
    <a>{{ band.originCountry | translate }} </a>
    <span class="{{ 'flag-icon flag-icon-' + codes[band.originCountry] }}"></span>
  </div>

  <table *ngFor="let album of band.albums" class="albums-{{ getTheme() }}">
    <tbody>
      <tr>
        <img src="{{ album.cover }}" class="cover">
        <td>
          <a class="link-{{ getTheme() }}" [routerLink]="['/album', album.uuid]">{{ album.name }}</a>
        </td>
        <td>
          <a>{{ album.releaseDate | date: 'dd/MM/yyyy' }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
