.containerbright {
  align-items: center;
  background: linear-gradient(to right, rgb(238, 255, 0),rgb(3, 215, 252));
  border-radius: 10px;
  width:35%;
  margin-left: 35%;
}

.containerdark {
  align-items: center;
  background: linear-gradient(to right, rgb(78, 1, 1),rgb(4, 30, 71));
  border-radius: 10px;
  width:35%;
  margin-left:35%;
}

.smallLogo {
  height: 3em;
  border-radius: 50%;
  margin-left: 1em;
}

.bandsbright {
  margin-top: 5%;
  margin-bottom: 2%;
}

.bandsdark {
  margin-top: 5%;
  margin-bottom: 2%;
}

.bandsbright a, .bandsdark a {
  padding-left: 5%;
}

.albumsbright {
  margin-left: 10%;
  max-width: fit-content;
  border-collapse: separate;
  border-spacing: 1em;
}

.albumsdark {
  margin-left: 10%;
  max-width: fit-content;
  border-collapse: separate;
  border-spacing: 1em;
}

.cover {
  max-height: 5em;
}

.link {
  color:black;
}
