<div [ngClass]="getTheme() === 'bright' ? 'containerbright' : 'containerdark'" *ngIf="band !== null">
  <div [ngClass]="getTheme() === 'bright' ? 'groupesbright' : 'groupesdark'">
    <img src="{{ band.smallLogo }}" class="smallLogo">
    <a>{{ band.name }}</a>
    <a>{{ band.originCountry | translate }}</a>
    <span class="{{ 'flag-icon flag-icon-' + codes.get(band.originCountry) }}"></span>
  </div>

  <table *ngFor="let album of band.albums" [ngClass]="getTheme() === 'bright' ? 'albumsbright' : 'albumsdark'">
    <tbody>
      <tr>
        <img src="{{ album.cover }}" class="cover">
        <td>
          <a [ngClass]="getTheme() === 'bright' ? 'link' : 'linkdark'" [routerLink]="['/album', album.uuid]">{{ album.name }}</a>
        </td>
        <td>
          <a>{{ album.releaseDate | date: 'dd/MM/yyyy' }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
