.containerclair{
  align-items: center;
  background: linear-gradient(to right, rgb(238, 255, 0),rgb(3, 215, 252));
  border-radius: 10px;
  width:35%;
  margin-left: 35%;
  margin-top: 5%;
}

.containersombre{
  align-items: center;
  background: linear-gradient(to right, rgb(78, 1, 1),rgb(4, 30, 71));
  border-radius: 10px;
  width:35%;
  margin-left:35%;
  margin-top: 5%;

}

.songsclair{
  margin-left: 10%;
  max-width: fit-content;
  border-collapse: separate;
  border-spacing: 1em;
}

.songssombre{
  margin-left: 10%;
  max-width: fit-content;
  border-collapse: separate;
  border-spacing: 1em;
}


.cover{
  max-height: 5em;
}

.lien{
  color:black;
}

