<div [ngClass]="staticTheme === 'clair' ? 'containerclair' : 'containersombre'" *ngIf="album !== null">
  <table [ngClass]="staticTheme === 'clair' ? 'songsclair' : 'songssombre'">
      <tbody>
          <tr><img src="{{album.cover}}" class="cover">
              <td>
                <a [ngClass]="staticTheme === 'clair' ? 'lien' : 'liensombre'" [routerLink]="['/album', album.uuid]">{{ album.name }}</a>
              </td>
              <td>
                <a>{{ album.releaseDate | date: 'dd/MM/yyyy' }}</a>
              </td>
              <td>
                <span>{{ album.recordingCountry | translate }}</span>
              </td>
          </tr>
          <tr>
              <td>
                <span>{{ album.genre | translate }}</span>
              </td>
              <td>
                <span>{{ album.type | translate }}</span>
              </td>
              <td>
                <a *ngFor="let song of album.songs" [ngClass]="staticTheme === 'clair' ? 'lien' : 'liensombre'" [routerLink]="['/song', song.uuid]">{{ song.name }} <br /></a>
              </td>
              <td>
                <span>{{ album.band.name }}</span>
              </td>
          </tr>
      </tbody>
  </table>
</div>
